
h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font: 10px sans-serif;
    /*font-size: 0.875em;  14px/16=0.875em */
}

#stats p {
  font: 12px sans-serif;
    /*font-size: 0.875em;  14px/16=0.875em */
}

div#stats {
  width: 85%;
  float: left;

}

div#stats_pace {
  float: left;
}

div#stats_elevation {
  margin-left: 5%;
  float:left;
}

div#stats_pr { 
  margin-left: 5%;
  float: left;
}

div#stats_date {
  margin-left: 5%;
  float: left;
}

.axis text {
  font: 10px sans-serif;
}
 
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: green;
  stroke-width: 1.6px;
}

.tick line{
  opacity: 0.6;
  stroke-width: .6px;
  stroke: lightgrey;
  stroke-dasharray: 2,2;
}

.axis .minor {
  stroke: red;
  stroke-width: 0.4px;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.tooltip.hidden {
    display: none;
}

.tooltip p {
    margin: 0;
    font-family: helvetica;
    font-size: 16px;
    line-height: 20px;
}

rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

circle.outer {
    display         : none;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

#strava_auth img {
    width: 159px;
    height: 31px;
    /*border: 3px solid #73AD21;*/
}

.hidden {
    display: none;
}
