.axis text {
  font: 10px sans-serif;
}
 
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
  shape-rendering: crispEdges;
}
 .axis line {
  fill: none;
  stroke: green;
  stroke-width: 1.6px;
}

.axis .minor {
  stroke: red;
  stroke-width: 0.4px;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}